@font-face {
    font-family: MarkProBold;
    src: url(./Fonts/MarkProBold.otf)
}

@font-face {
    font-family: MarkProHeavy;
    src: url(./Fonts/MarkProHeavy.otf.otf)
}

@font-face {
    font-family: MarkProRegular;
    src: url(./Fonts/MarkProRegular.otf)
}

@font-face {
    font-family: InterRegular;
    src: url(./Fonts/Inter/Inter-Regular.ttf)
}

@font-face {
    font-family: InterBold;
    src: url(./Fonts/Inter/Inter-Bold.ttf)
}

:root {
    --body-color: #fff;
    --blue-accent: #003cfb;
    --green-accent: #02c758; 
    --grey-color: #f2f2f2;
    --text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    height: 100vh;
    font-family: MarkProRegular, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--blue-accent); 
    border-bottom-left-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    width: 5rem;
    height: auto;
    margin: 1.25rem;
}

button.hamburger {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--body-color);
    cursor: pointer;
}

button.hamburger:hover {
    font-size: 1.50rem;
}

nav.nav-menu {
    display: flex;
    justify-content: center;
    width:100vw; 
    height: 100vh;
    border-bottom-left-radius: 2rem;
    background-color: var(--blue-accent);
    margin-top: -42rem; /* om de nav te verbergen  */
 }

nav.nav-menu.active {
    margin-top: 0rem; 
    transition-duration: 0.75s;
    transition-timing-function: ease-in;
}

nav.nav-menu.close {
    margin-top: 0rem; 
    transition-duration: 0.75s;
    transition-timing-function: ease-in;
}

ul.nav-dropdown {
    margin-top: 10rem; /* zodat de linkjes van onder de header tevoorschijn komen */
    position: absolute;
}

li.nav-link {
    padding: 1rem; /*voor spacing tussen de links*/
    list-style: none;
    font-family: MarkProBold;
    font-size: 1.5rem;
}

li a {
    color: var(--body-color);
    text-decoration: none;
} 

main {
    margin: 1rem;
}

/* sectie 1 */
section.main__project-information {
    /* width: 31rem; */ /* footer neemt niet de breedte van de hele pagina in met deze width */
    position: relative;
    height: 21rem; /* dit is nodig omdat de div in de section position absolute zijn  */
    margin: 0 auto;
    margin-top: 7rem; /* dit is nodig omdat de nav position: fixed is .. */
}

div.project-background {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 14rem;
    height: 11rem;
    margin: 0 auto;
    background-color: var(--green-accent);
    border-radius: 0.5rem;
}

article.project-description {
    position: absolute;
    top: 6rem;
    left: 4rem;
    /* width: 15rem; */
    /* height: 20rem; */
    padding: 1rem;
    background-color: var(--grey-color);
    border-radius: 0.5rem;
}

h1 {
    font-family: MarkProBold, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* 5 fases*/
h2 {
    font-family: MarkProBold, Helvetica, sans-serif;
}

ul.process {
    list-style: none;

}

li.phase {
    display: flex;
    align-items: center;
    max-width: 21rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 4rem; /*om de afbeelding op dezelfde hoogte te zetten als het subkopje.*/
}

div.text {
    margin-left: 1rem;
}

h3 {
    font-family: MarkProBold, Helvetica, sans-serif;
}

.button-phase {
    width: max-content;
    height: 3rem;
    margin-top: 0.5rem;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    border-bottom-right-radius: 0.2rem;
    background-color: var(--body-color);
    border-color: var(--blue-accent);
    font-family: MarkProRegular, Helvetica, sans-serif;
}

.button-phase:hover {
    background-color: var(--blue-accent);
    color: var(--body-color);
}

footer {
    width: 100vw;
    height: 4rem;
    background-color: var(--text-color);
    display: flex;
    justify-content: center; 
    align-items: center;
    border-top-right-radius: 2rem;
}

footer img {
    width: 2rem;
    height: 2rem;
}

/* media queries */
@media screen and (min-width: 40rem) {
    div.project-background {
        width: 25rem;
        margin-left: 12rem;
    }

    article.project-description {
        width: 35rem;
        margin-left: 12rem;
    }
   
    li.phase {
        display: inline-flex; /* om de items in kolommen naast elkaar te zetten */
        margin-left: 6rem; /* voor ruimte tussen de kolommen */
    }
} 

@media screen and (min-width: 65rem) {
    div.project-background {
        margin-left: 25rem;
    }

    article.project-description {
        margin-left: 25rem;
    }
}



